body {
    background: url(images/grid.png);
/*    background: #fff1f1;*/
}

/*HEADER*/

#header {
    background: url(images/nn.png);
    width: 1355px;
    height: 60px;
    margin: -13px -15px;
    position: relative;
}

/*Headline menu*/

.headline {
    position: absolute;
    width: 1300px;
    height: 40px;
    top: 2px;
    margin: 0 20px;
}

.headline_menu {
    width: 1250px;
}

.headline_menu li {
    display: inline-block;
    padding: 0 8px;
    margin: 0 10px;
    list-style: none;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #864545;
    border: 2px solid white;
    border-radius: 5px;
}

.headline_menu li:active {
    background: #502424;
}

.headline_menu a {
    color: white;
    text-decoration: none;
}

.headline_menu a:hover {
    text-decoration: underline;
}

.lang_list {
    position: absolute;
    width: 180px;
    left: 1030px;
    top: 20px;
}

.lang_list li {
    text-align: center;
    line-height: 17px;
    width: 40px;
    height: 15px;
    background: #1d9d4e;
    font-size: 80%
}

.lang_list li:active {
    background: #145f31;
}


/*HOME*/

#home {
    position: relative;
    width: 1330px;
    height: 500px;
    background: url(images/n2.jpg) no-repeat;
    background-size: 100%;
    background-position: 0;
    margin: 50px auto;
    border-radius: 15px;
}

.home_page {
    width: 450px;
    height: auto;
    position: absolute;
    margin: 7% 7%;
}

.home_page p {
    color: black;
    font-size: 150%;
    text-align: center;
    font-family: sans-serif;
}

/*ABOUT ME*/

.header {
    background: url(images/nn.png);
    width: 900px;
    height: 40px;
    margin: 10px auto;
    position: relative;
/*    border: 3px solid #864545;*/
    border-radius: 10px;
}

.header p {
    position: absolute;
    width: 100px;
    text-align: center;
    margin: 1% 45%;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header p:hover {
    text-decoration: underline;
}

#about_me {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 35px auto;
    border-radius: 15px;
    background: #864545;
}

/*Information*/

.information {
    position: absolute;
    width: 1180px;
    height: 575px;
    top: 10px;
    left: 10px;
    padding-left: 15px
}

.personal_data {
    position: absolute;
    width: 560px;
    height: 260px;
    padding: 8px 15px;
    top: 1%;
/*    background: #a7a7a7;*/
}

.education {
    position: absolute;
    width: 560px;
    height: 265px;
    padding: 8px 15px;
    top: 51%;
    left: 48%;
/*    background: #a7a7a7;*/
}

.photo_1 {
    position: absolute;
    width: 250px;
    height: 200px;
    left: 55%;
    top: 10%;
    background: url(images/RbSHS_croper_ru.jpeg);
    background-size: 80%;
    background-position: 20px -10px;
    border-radius: 50%;
}

.photo_2 {
    position: absolute;
    width: 450px;
    height: 240px;
    left: 5%;
    top: 54%;
    background: url(images/nulp.jpg);
    background-size: 100%;
    border-radius: 50%;
}

.title {
    font-size: 19px;
    font-weight: bold;
    font-family: cursive;
    margin: 0 203px;
    color: wheat;
}

.block1 {
    color: wheat;
    width: 400px;
    height: 180px;
    padding: 2px 10px;
    margin: -10px 115px;
}

.block2 {
    color: wheat;
    width: 500px;
    height: 180px;
    padding: 2px 10px;
    margin: 0 35px;
}

.meaning {
    font-size: 110%;
    font-weight: bold;
    color: white;
}

/*MY SKILLS*/

#my_skills {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 35px auto;
    border-radius: 15px;
    background: #332640;
}

.it_skills {
    position: absolute;
    width: 1000px;
    height: auto;
    margin: 140px 90px;
    padding: 0 10px;
}

.it_skills img {
    opacity: .5;
    margin: 0 40px;
}

.it_skills img:hover {
    opacity: 1;
    transition: .6s;
}

.skill {
    width: 200px;
    height: auto;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 22px;
    font-family: cursive;
    margin: 60px 500px;
}

.languages {
    width: 200px;
    height: auto;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 22px;
    font-family: cursive;
    margin: 24% 41%;
}

.lang_style {
    position: absolute;
    width: 1000px;
    height: 200px;
    top: 60%;
    left: 10%
}

.lang_style p{
    width: 150px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 22px;
}

.diagram1 {
    position: absolute;
    width: 500px;
    height: 25px;
    left: 30%;
    margin-top: -50px;
    border: 4px solid #221f1f;
    border-radius: 5px;
    background: #158841;
}

.diagram2 {
    position: absolute;
    width: 500px;
    height: 25px;
    left: 30%;
    margin-top: -50px;
    border: 4px solid #221f1f;
    border-radius: 5px;
    background: linear-gradient(90deg, #158841 70%, #b7b008 1%);
}

.diagram3 {
    position: absolute;
    width: 500px;
    height: 25px;
    left: 30%;
    margin-top: -50px;
    border: 4px solid #221f1f;
    border-radius: 5px;
    background: linear-gradient(90deg, #158841 97%, #b7b008 1% );
}

.percent {
    z-index: 9999;
    position: absolute;
    font-size: 65%;
    margin: -20px 150px;
}

/*CONTACT ME*/

#contact_me {
    position: relative;
    width: 1200px;
    height: 550px;
    margin: 35px auto;
    border-radius: 15px;
    background: #864545;
}

.location {
    padding: 0 15px;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 20%;
    left: 3%;
}

.location p {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 150px;
    margin-left: 25%;
}

.location_details li{
    width: 250px;
    margin: 25px;
    font-size: 20px;
    color: wheat;
    list-style: none;
}

.icon {
    width: 24px;
}

/*FORM*/

.write_message {
    position: absolute;
    width: 500px;
    height: 340px;
    margin: 5% 50%;
    padding-left: 10px;
}

.message {
    color: wheat;
    width: 450px;
    height: 340px;
    border: 2px solid #191717;
    border-radius: 5px;
}

#button {
    margin: 10px 5px;
    border-radius: 5px;
}

#text {
    width: 430px;
    height: 130px;
    border-radius: 5px;
    background: #fdedb5;
}

#name {
    width: 200px;
    background: #fdedb5;
}

#email {
    width: 200px;
    background: #fdedb5;
}

/*FOOTER*/

#footer {
    background: url(images/nn.png);
    width: 1345px;
    height: 60px;
    position: absolute;
    bottom: 100;
    left: 0;
}

#footer p {
    position: absolute;
    color: #fff;
    width: 200px;
    margin: 25px 850px;
    font-size: 17px;
}

.foot_icons {
    margin: 10px 350px;
    height: 40px;
    width: 250px;
}

.foot_icons img {
    width: 38px;
    height: 38px;
    margin: 0 5px;
}

/*КНОПКА*/

.btn {
	margin: -48px 1100px;
	width: 150px;
	height: 30px;
	position: relative;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

img.sett {
    width: 22px;
	vertical-align: middle;
	position: absolute;
	z-index: 3;
	left: 5px;
	top: 5px;
	transition: 1.5s;
}

.demo {
	background: #864545;
	width: 100px;
	height: 30px;
	padding: 0 0 0 50px;
	text-align: center;
	position: absolute;
	line-height: 30px;
	font-size: 1.1em;
	top: 0;
	left: 0;
	z-index: 2;
	transition: 1s;
    border: 2px solid white; 
	border-radius: 3px;
}

.btn:hover .demo{
	width: 25px;
	font-size: .7em;
	border-radius: 3px 0 0 3px;
}

.btn:hover img.sett {
	transform: rotate(360deg);
}

.disc {
	background: #521b1b;
	position: absolute;
	width: 100px;
	height: 10px;
	padding: 10px 0 10px 10px;
	text-align: center;
	line-height: 10px;
	top: 0;
	right: 0;
	z-index: 1;
    border: 2px solid white;
	border-radius: 0 3px 3px 0;
	font-size: 1em;
}