body {
/*    background: url(http://subtlepatterns.com/patterns/light_noise_diagonal.png);*/
    background: #fff;
    font-size: 20px;
    font-family: Trebuchet MS;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/*HEADER*/

#head {
    width: auto;
    height: 80px;
    margin: auto;
    background-image: url(nn.png);
    opacity: 1;
    position: relative;
}

/*HEADLIST*/

.head_list a, li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: Trebuchet MS;
    color: #ffffff;
    opacity: 1;
}

.head_list li {
    display: inline-block;
    padding: 1px 15px;
    border-right: 1px solid #ffffff;
}

.head_list li:last-child {
    border-right: none;
}

.head_list a:hover {
    opacity: 1;
    text-decoration: underline;
    transition: 1s;
}

.head_list {
    width: 550px;
    height: 50px;
    margin: 10px 80px;
    position: absolute;
}

.language {
    position: absolute;
    width: 130px;
    margin: -48px 1000px;
}

.language li {
    border: 1px solid #ffffff;
}

.language li:last-child {
    border-right: 1px solid #ffffff;
}

/*SECTION HOME*/

#home {
    position: relative;
    background-color: #fff;
    background-image: url(web-design_1350x962.jpg);
    background-size: 70% 110%;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 500px;
}

/*SECTION PAGE1*/

#page1 {
    background: #985c5c;
    width: auto;
    height: 700px;
    position: relative;
}

.title {
    background-image: url(nn.png);
    width: 800px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 2% 21%;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
}

/*    personal data  */

.personal_data {
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 10%;
    padding: 0 10px;
}

.me {
    width: 25%;
    height: 80%;
    margin-top: -230px;
    margin-left: 400px;
    position: inherit;
    border-radius: 50%;
}

.personal_data p:first-child {
    width: 200px;
    text-align: center; 
    text-decoration: underline;
}

.meaning {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

  /* education*/

.education {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 30% 50%;
}

.education p:first-child {
    width: 200px;
    text-align: center; 
    text-decoration: underline;
}

/*SECTION PAGE2*/

#page2 {
    background: silver;
    width: auto;
    height: 800px;
    position: relative;
}

.skills {
    position: absolute;
    width: 1050px;
    height: auto;
    margin: 130px 180px;
}

.skills p {
    width: 150px;
    margin-left: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
}

.skills li {
    display: inline-block;
    margin-left: 55px;
    opacity: .5;
}

.skills li:hover {
    opacity: 1;
    transition: .7s;
}

.languages {
    padding: 0 10px;
    position: absolute;
    width: 650px;
    height: auto;
    margin: 30% 30%;
}

.languages p:first-child {
    width: 170px;
    margin-left: 210px;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
}

/*SECTION PAGE3*/

#page3 {
    background: #985c5c;
    width: auto;
    height: 550px;
    position: relative;
}

.contacts {
    width: 300px;
    height: auto;
    position: absolute;
    margin: 130px 50px;
}

.contacts .icon {
    width: 24px;
}

.contacts li {
    padding: 10px;
}

.contacts p {
    color: white;
    margin-left: 80px;
    
}

/*FORM*/

.write_message {
    position: absolute;
    width: 400px;
    height: auto;
    margin: 150px 750px;
    padding-left: 10px;
}

.message {
    border: 2px solid #191717;
    border-radius: 5px;
}

#button {
    border-radius: 5px;
}

#text {
    border-radius: 5px;
}

/*FOOTER*/

.footer {
    position: relative;
    background-image: url(nn.png);
    width: auto;
    height: 50px;
}

.footer p {
    position: absolute;
    color: #fff;
    margin-left: 750px;
    font-size: 15px;
}

.buttons {
    position: absolute;
}

.foot_icons ul {
    list-style: none;
    margin: 6px 250px;
    padding: 0;
}

.buttons li {
    background: url(skills/ic.png) no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-left: 5px;
}

.buttons .button1 {
    background-position: -37px -31px;
}

.buttons .button2 {
    background-position: -380px -31px;
}

.buttons .button3 {
    background-position: -184px -31px;
}

.buttons .button4 {
    background-position: -135px -29px;
}

.buttons .button5 {
    background-position: -429px -29px;
}